[submodule "lesson_10/lesson_10_lvl_01"]
	path = lesson_10/lesson_10_lvl_01
	url = git@github.com:mikola-s/lesson_10_lvl_01_simple_form.git
[submodule "lesson_10/lesson_10_lvl_01_simple_form"]
	path = lesson_10/lesson_10_lvl_01_simple_form
	url = git@github.com:mikola-s/lesson_10_lvl_01_simple_form.git
[submodule "lesson_10/lesson_10_lvl_02_bootstraped_form"]
	path = lesson_10/lesson_10_lvl_02_bootstraped_form
	url = git@github.com:mikola-s/lesson_10_lvl_02_bootstraped_form.git
[submodule "lesson_21_JS_home_work"]
	path = lesson_21_JS_home_work
	url = git@github.com:mikola-s/lesson_21_JS_home_work.git
[submodule "lesson_23_DOM"]
	path = lesson_23_DOM
	url = git@github.com:mikola-s/lesson_23_DOM.git
[submodule "lesson_25_OOP_01"]
	path = lesson_25_OOP_01
	url = git@github.com:mikola-s/lesson_25_OOP_01.git
[submodule "lesson_26_OOP_02"]
	path = lesson_26_OOP_02
	url = git@github.com:mikola-s/lesson_26_OOP_02.git
[submodule "lesson_28_OOP_03_practics"]
	path = lesson_28_OOP_03_practics
	url = git@github.com:mikola-s/lesson_28_OOP_03_practics.git
[submodule "lesson_29_OOP_5_itegral_decorator"]
	path = lesson_29_OOP_05_itegral_decorator
	url = git@github.com:mikola-s/lesson_29_OOP_05_itegral_decorator.git
[submodule "lesson_29_OOP_05_inner_decorator"]
	path = lesson_29_OOP_05_inner_decorator
	url = git@github.com:mikola-s/lesson_29_OOP_05_inner_decorator.git
[submodule "lesson_30_OOP_06_practics"]
	path = lesson_30_OOP_06_practics
	url = https://github.com/mikola-s/lesson_30_OOP_06_practics
[submodule "lesson_33_dj_01_urls"]
	path = lesson_33_dj_01_urls
	url = git@github.com:mikola-s/lesson_33_dj_01_urls.git
[submodule "lesson_34_dj_02_templates"]
	path = lesson_34_dj_02_templates
	url = git@github.com:mikola-s/lesson_34_dj_02_templates.git
[submodule "lesson_35_dj_03_youtube"]
	path = lesson_35_dj_03_youtube
	url = git@github.com:mikola-s/lesson_35_dj_03_youtube.git
