[submodule "lesson_10/lesson_10_lvl_01"]
	path = lesson_10/lesson_10_lvl_01
	url = git@github.com:mikola-s/lesson_10_lvl_01_simple_form.git
[submodule "lesson_10/lesson_10_lvl_01_simple_form"]
	path = lesson_10/lesson_10_lvl_01_simple_form
	url = git@github.com:mikola-s/lesson_10_lvl_01_simple_form.git
[submodule "lesson_10/lesson_10_lvl_02_bootstraped_form"]
	path = lesson_10/lesson_10_lvl_02_bootstraped_form
	url = git@github.com:mikola-s/lesson_10_lvl_02_bootstraped_form.git
[submodule "lesson_21_JS_home_work"]
	path = lesson_21_JS_home_work
	url = git@github.com:mikola-s/lesson_21_JS_home_work.git
[submodule "lesson_23_DOM"]
	path = lesson_23_DOM
	url = git@github.com:mikola-s/lesson_23_DOM.git
